# API Key de Google Maps (Geocoding API)
GOOGLE_MAPS_API_KEY=tu_api_key_aqui

# Direct connection de Supabase (port 5432)
DATABASE_URL=postgresql://postgres:TU_PASSWORD@db.TU_PROJECT_REF.supabase.co:5432/postgres
